* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgNav {
  background: #263e5a;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.selectImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 32px;
}

.selectImg button {
  padding: 10px 15px;
  margin: 15px 10px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid grey;
}

.selectImg button:hover {
  background-color:rgb(149, 147, 147);
}

.navUl {
  display: flex;
  flex-direction: row;
}

.contAll {
  max-width: 1700px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.intro {
  height: 660px;
  width: 100%;
  background: #1b2c3f;
}

.hello h1 {
  color: #ee6c20;
  font-family: 'Roboto Slab', serif;
  font-size: 53px;
}

.nav-link {
  margin-right: 25px;
  font-weight: bold;
}

.hello p {
  color: white;
  font-size: 22px;
}

.listS {
  list-style: none;
  margin-top: 145px;
  width: 8%;
}

ul li {
  list-style: none;
  font-size: 22px;
  margin-top: 17px;
  color: rgb(197, 195, 192);
}

footer a > i {
  color: #1b2c3f;
}

.listS li {
  margin-top: 19px;
}

.listS li i {
  padding: 7px;
}

.listS li i:hover {
  padding: 7px;
  border-radius: 10px;
  background: #ee6c20;
}

.marginTop {
  margin-top: 145px;
  width: 50%;
}

.headCont {
  width: 35%;
}

.portafolio {
  width: 82%;
  margin: auto;
  padding-bottom: 80px;
}

.portHeader {
  margin: 110px 0 80px;
  display: flex;
  flex-direction: row;
}

.hp3 {
  font-family: 'Roboto Slab', serif;
  color: #1b2c3f;
}

.pblu {
  font-family: 'Roboto Slab', serif;
  color: #1b2c3f;
  font-size: 17px;
}

.portafolio hr {
  width: 70%;
  margin-left: 10px;
  border-top: 1px solid black;
}

.proj1 {
  background: #eea378;
  padding: 35px 0 25px;
}

.proj1 img {
  box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.techUsed {
  margin-left: 0;
}

.techUsed p {
  padding: 10px 5px;
  border: 1px solid black;
  margin: 6px 6px 6px 0;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.colGrid {
  margin: 20px 30px 10px 0;
}

.imagePro1 {
  height: 420px;
  background: linear-gradient(180deg, rgba(238, 250, 31, 0) 0%, rgba(0, 0, 0, 0.7) 65%);
  font-family: 'Roboto', serif;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.fotIcon {
  margin: 5px;
  padding: 7px;
  border-radius: 100%;
  border: 5px solid white;
}

.fotIcon:hover {
  border: 5px solid #1b2c3f;
}

.imagePro1:hover {
  background: none;
}

/* .imagePro1:hover #contentP1{
  display: none;
} */

.imagePro1:hover #contentP2 {
  display: none;
}

.imagePro1:hover #contentP3 {
  display: none;
}

.imagePro1:hover #contentP4 {
  display: none;
}

/* .imagePro1:hover .btnT {
  display: block;
} */

.project1 {
  background-image: url(../image/article.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  max-width: 350px;
  min-width: 305px;
}

.imagePro1 div {
  margin: 0 10px;
  text-align: center;
}

.project2 {
  background-image: url(../image/event.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project3 {
  background-image: url(../image/meme.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project4 {
  background-image: url(../image/lyrics.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.techUsed2 {
  padding-bottom: 10px;
}

.techUsed2 p {
  padding: 7px 4px;
  border: 1px solid black;
  margin: 3px;
  color: white;
  background: grey;
}

.titlee {
  margin-left: 16px;
}

.btnT {
  background: #ee6c20;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.about {
  width: 100%;
  background: #1b2c3f;
}

.aboutCont {
  width: 82%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.lineh {
  width: 82%;
  margin: auto;
  margin-top: 100px;
}

.aboutCont h1 {
  color: #ee6c20;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}

.aboutCont p {
  font-size: 22px;
  color: white;
  font-family: 'Roboto', serif;
}

.aboutHeader {
  margin-top: 120px;
}

ul h3 {
  color: white;
  list-style: square;
  display: list-item;
}

.skills {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 110px;
}

#contentP1 {
  width: 100%;
}

.footerCont {
  width: 82%;
  margin: 100px auto 0;
  font-family: 'Roboto', serif;
}

.mesagge {
  font-size: 40px;
  font-weight: bold;
}

.inputForm {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #1b2c3f50;
  background: none;
  outline: none;
}

.inputForm:focus {
  background: #f3e7e0;
  border: none;
  border-bottom: 1px solid #fff;
}

.formName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formC div {
  margin-bottom: 18px;
}

.formName input {
  width: 47%;
}

.textArea {
  border: none;
  border-bottom: 1px solid #1b2c3f50;
  background: none;
  outline: none;
  padding: 15px;
}

.textArea:focus {
  background: #f3e7e0;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.botonSend {
  background: #e75e0f;
  padding: 10px 16px;
  font-size: 18px;
  font-family: 'Roboto', serif;
  color: white;
  
  margin-right: 5px;
}

.botonSend:hover {
  background: #f09561;
  color: white;
}

.botonSend2 {
  background: #e75e0f;
  padding: 10px 16px;
  font-size: 18px;
  font-family: 'Roboto', serif;
  color: white;
  
}

.botonSend2:hover {
  background: #f09561;
  color: white;
}

.formCont {
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
  padding: 10px 0 16px;
  border-top: 1px solid #1b2c3f;
}

.modalC {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal1C {
  background: white;
  width: 850px;
  height: 560px;
  border-radius: 10px;
  position: relative;
  transform: translateY(-200%);
  transition: ease-in-out 0.5s;
}

.modalX {
  transform: translateY(0%);
}

.closeB {
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  background: #c44a4a;
  color: white;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.modalp1 {
  margin: 18px;
}

.mdm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imagemodal {
  height: 420px;
  overflow: hidden;
  width: 700px;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
}

.modalSec1 {
  width: 58%;
}

.modalSec2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalSec2 p {
  font-size: 20px;
}

.tech {
  margin-left: 0;
}

.diss1,
.diss2,
.diss3,
.diss4 {
  display: none;
}

.seeLiveC {
  display: flex;
  flex-direction: row;
}

.mainPInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagMainP {
  width: 90%;
  
}

.imagMainP2 {
  width: 43%;
}

.mainCC {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
}

.coding {
  width: 700px;
}

.headTech {
  width: 300px;
}

.hithereC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cur {
  border-right:0.2rem solid white;
}

@media (max-width: 1250px) {
  .pblu {
    font-size: 14px;
  }

  .hp3 {
    font-size: 22px;
  }

  .botonSend {
    font-size: 15px;
    padding: 7px 12px;
  }

  .botonSend2 {
    font-size: 15px;
    padding: 7px 12px;
  }

  .coding {
    width: 500px;
    margin-top: 50px;
  }
}

@media (max-width: 1070px) {
  .mainCC {
    display: flex;
    flex-direction: column;
  }
  .selectImg button{
    padding: 3px 10px;
    margin: 7px 10px;
    font-size: 11px;
  }

  .mainPInfo {
    margin: auto;
    width: 100%;
  }

  .aboutCont {
    display: flex;
    flex-direction: column;
  }

  .aboutHeader {
    padding-top: 50px;
    margin: auto;
  }

  #aboutmeH,
  #hiThere {
    font-size: 38px;
  }

  #aboutmeD {
    font-size: 20px;
  }

  #im {
    font-size: 20px;
  }

  #ican {
    font-size: 18px;
  }

  .intro {
    height: 520px;
  }

  .marginTop,
  .listS {
    margin-top: 80px;
  }

  .headTech {
    width: 220px;
  }

  .mesagge {
    font-size: 24px;
    margin-top: 40px;
  }

  ul > h3 {
    font-size: 19px;
  }

  ul > li {
    font-size: 15px;
  }

  .formName {
    flex-direction: column;
  }

  .formName input {
    width: 100%;
  }

  .modal1C {
    width: 700px;
    height: 420px;
  }

  .imagemodal {
    width: 380px;
    height: 280px;
  }

  .modalSec2 p {
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  .hithereC {
    flex-direction: column;
    text-align: center;
  }

  .coding {
    width: 350px;
  }

  .headCont {
    order: 1;
    width: 90%;
    margin-left: 10px;
  }

  .marginTop {
    order: 2;
    margin-top: 15px;
    width: 87%;
  }

  .intro {
    height: 100%;
  }

  .headTech {
    width: 180px;
  }

  .skills {
    display: block;
    text-align: center;
    padding-bottom: 50px;
  }

  .skills h3 {
    text-align: center;
    list-style: none;
  }

  .skills ul {
    margin-bottom: 35px;
  }

  .skills ul li {
    display: inline-block;
    margin: 4px;
    list-style: square;
  }

  .mesagge {
    font-size: 18px;
  }

  #aboutmeD {
    font-size: 16px;
  }

  .mdm {
    display: flex;
    flex-direction: column;
  }

  .modal1C {
    width: 75%;
    min-width: 295px;
    height: auto;
  }

  .imagemodal {
    width: 90%;
    height: 180px;
    margin: auto;
  }

  .modalSec2 {
    width: 90%;
  }

  .modalSec2 p {
    font-size: 12px;
  }

  .techUsed p {
    padding: 5px 3px;
  }

  .hp3 {
    font-size: 19px;
  }

  .botonSend {
    font-size: 13px;
    padding: 8px 14px;
  }

  .botonSend2 {
    font-size: 13px;
    padding: 8px 14px;
  }
}

@media (max-width: 380px) {
  .coding {
    width: 250px;
  }

  .mesagge {
    margin-top: 1px;
  }

  .imagemodal {
    width: 100%;
    height: 130px;
    margin: auto;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}
