* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgNav {
  background: #263e5a;
}

.contAll {
  max-width: 1700px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.intro {
  height: 660px;
  width: 100%;
  background: #1b2c3f;
}

.hello h1 {
  color: #ee6c20;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}

.nav-link {
  margin-right: 25px;
  font-weight: bold;
}

.hello p {
  color: white;
  font-size: 22px
}

.listS {
  list-style: none;
  margin-top: 145px;
  width: 8%;
}

.listS li {
  margin-top: 19px;
}

.marginTop {
  margin-top: 145px;
}

.portafolio {
  width: 82%;
  margin: auto;
  padding-bottom: 80px;
}

.portHeader {
  margin: 110px 0 80px;
}

.hp3 {
  font-family: 'Roboto Slab', serif;
  color: #1b2c3f; 
}

.pblu {
  font-family: 'Roboto Slab', serif;
  color: #1b2c3f;
  font-size: 17px;
}

.portafolio hr {
  width: 70%;
  margin-left: 10px;
  border-top: 1px solid black;
  
}

.proj1 {
  background: #ee6c20;
  padding:35px 0;
  
}

.proj1 img {
  box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.techUsed p{
  padding: 10px 5px;
  border: 2px solid black;
  margin: 6px;
  
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colGrid {
  margin: 20px 30px 10px 0;
}

.imagePro1:hover {
  background: none;
}

.imagePro1:hover #contentP1{
  display: none;
}

.imagePro1:hover #contentP2{
  display: none;
}

.imagePro1:hover #contentP3{
  display: none;
}

.imagePro1:hover #contentP4{
  display: none;
}

.imagePro1:hover .btnT {
  display: block;
}

.project1 {
  background-image: url(../image/screen.png);
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}

.imagePro1 {
  height: 420px;
  background: linear-gradient(180deg, rgba(238,250,31,0) 0%, rgba(0,0,0,0.8) 65%);  
  font-family: 'Roboto', serif;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.imagePro1 div {
  margin: 0 10px;
}


.project2 {
  background-image: url(../image/event.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project3 {
  background-image: url(../image/meme.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project4 {
  background-image: url(../image/lyrics.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.techUsed2 {
  padding-bottom: 10px;
}

.techUsed2 p {
  padding: 7px 4px;
  border: 2px solid black;
  margin: 3px;
  color: white;
  background: grey;
}

.titlee {
  margin-left: 16px;
}

.btnT {
  background: #ee6c20;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  display: none;
}

.about {
  
  width: 100%;
  background: #1b2c3f;
}

.aboutCont {
  width: 82%;
  margin: auto;
}

.lineh {
  width: 82%;
  margin: auto;
  margin-top: 100px;
  
  
}

.aboutCont h1 {
  color: #ee6c20;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
   
}

.aboutCont p {
  font-size: 22px;
  color: white;
  font-family: 'Roboto', serif;
}

.aboutHeader {
  margin-top: 120px;
}

ul li {
  list-style: none;
  font-size: 22px;
  margin-top: 17px;
  color: rgb(197, 195, 192);
}

ul h3 {
  color: white;
  list-style: square;
  display:list-item;
}

.skills {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 110px;
}

.footerCont {
  width: 82%;
  margin: 100px auto 0;
  
  font-family:  'Roboto', serif;
}

.mesagge {
  font-size: 40px;
  font-weight: bold;
}

.inputForm {
  padding:15px;
  border:none;
  border-bottom: 1px solid #1b2c3f50;
  background: none;
  outline: none; 
}

.inputForm:focus {
  background: #f3e7e0; 
  border:none;
  border-bottom: 1px solid #fff;
}

.formName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.formC div {
  margin-bottom: 18px;
}

.formName input {
   width: 47%;  
}

.textArea {
  
  border:none;
  border-bottom: 1px solid #1b2c3f50;
  background: none;
  outline: none; 
  padding: 15px;
}

.textArea:focus {
  background: #f3e7e0;
  outline: none; 
  border:none;
  border-bottom: 1px solid #fff;
}

#botonSend {
  background:#ee6c20;
  padding: 10px 22px;
  font-size: 18px;
  font-family: 'Roboto', serif;
}

.formCont {
  margin-bottom: 120px;
}

footer {
  text-align: center;
  padding: 10px 0 16px;
  border-top: 1px solid #1b2c3f;

}

footer a > i {
  color: #1b2c3f;
}
.modalC {
 
  position:fixed;
  z-index: 100;
  width:100%;
  height: 100vh;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.modal1C {
  background: white;
  width: 1050px;
  height: 600px;
  border-radius: 10px;
  position: relative;  
  transform: translateY(-200%);
  transition: ease-in-out 0.5s;
}

.modalX {
  transform: translateY(0%);
}

.closeB {
  position: absolute;
  top:5px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size:20px;
  background:#c44a4a;
  color:white;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.modalp1 {
  margin: 18px;
}

.mdm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imagemodal {
  height: 450px;
  overflow: hidden;
  width: 700px;
  text-align: center;
  
} 

.modalSec1 {
  width: 60%;
}

.modalSec2 {
  width: 35%;
}

.modalSec2 p {
  font-size: 20px;
}

.tech {
  margin-left: 0;
}

.diss1, .diss2, .diss3, .diss4 {
  display:none;
}



